Repository theforeman/community-templates, pull requests merged in 2018-10, with the labels that each got.

#508 Support setting syspurpose values with redhat register snippet
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Provisioning

#520 Fixes #25117 - support both FreeIPA and Red Hat IDM in kickstart_default
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#509 Refs #21204 - use local as the default for grubs
  provisioning_templates/PXEGrub/pxegrub_default_local_boot.erb
  provisioning_templates/PXEGrub/pxegrub_global_default.erb
  provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  provisioning_templates/snippet/pxegrub_chainload.erb
Labels: Provisioning

#521 Refs #25123 - add missing os metadata to provisioning templates
  provisioning_templates/PXEGrub/jumpstart_default_pxegrub.erb
  provisioning_templates/PXELinux/waik_default_pxelinux.erb
  provisioning_templates/ZTP/junos_default_ztp_config.erb
  provisioning_templates/finish/jumpstart_default_finish.erb
  provisioning_templates/finish/junos_default_finish.erb
  provisioning_templates/provision/jumpstart_default.erb
  provisioning_templates/provision/junos_default_slax.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#523 Add report templates
  report_templates/host_statuses_csv.erb
  test/common/headers_test.rb
Labels: Needs testing, Not yet reviewed

#479 Fixes #22139 - resolved atomic ostree conflict
  provisioning_templates/provision/atomic_kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#527 Fixes #25172 - support both FreeIPA and Red Hat IDM in user_data and finish templates
  provisioning_templates/finish/kickstart_default_finish.erb
  provisioning_templates/user_data/kickstart_default_user_data.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#526 Fixes #25163 - Add Subscriptions report
  report_templates/subscriptions.erb
Labels: Ready to merge

#524 Fixes #25166 - Add Applicable errata report
  report_templates/applicable_errata.erb
Labels: Ready to merge

#525 Fixes #25165 - Add Registered hosts report
  report_templates/registered_hosts.erb
Labels: Ready to merge, Waiting on contributor

#517 Product selection for SLES15
  provisioning_templates/provision/autoyast_sles_default.erb
Labels: Provisioning, Ready to merge

#532 Fixes #25301 - support hosts without owner
  report_templates/registered_hosts.erb
Labels: Needs testing
