Repository theforeman/community-templates, pull requests merged in 2018-03, with the labels that each got.

#458 We need to access passed variables through `@`
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
Labels: Needs testing, Provisioning

#456 Fixes #22679 - job template for reboot to use shutdown -r +1
  job_templates/power_action_-_ansible_default.erb
  job_templates/power_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#463 Use patterns for group install/remove on SUSE
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#462 fixes #22857 - Remove RHEL default template
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/kickstart_rhel_default.erb
  test/kickstart/provision_test.rb
Labels: Needs testing, Provisioning

#460 RHVH / oVirt Node provisioning templates
  partition_tables_templates/kickstart_default.erb
  partition_tables_templates/kickstart_default_thin.erb
  provisioning_templates/PXELinux/kickstart_ovirt_pxelinux.erb
  provisioning_templates/provision/kickstart_ovirt.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#454 Chainbooting discovery via iPXE
  provisioning_templates/snippet/pxelinux_discovery.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#465 Align regexp with puppet installer
  provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning
