Repository theforeman/community-templates, pull requests merged in 2018-07, with the labels that each got.

#493 Ansible shutdown with 1m delay so callback can return
  job_templates/power_action_-_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution

#494 Added BOOTIF options to grub2 templates
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
Labels: Needs testing, Provisioning

#496 When booting UEFI, you will receive Kernel Panic
  provisioning_templates/iPXE/autoyast_default_ipxe.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/iPXE/preseed_default_ipxe.erb
Labels: Needs testing, Provisioning, Waiting on contributor
