Repository theforeman/community-templates, pull requests merged in 2018-08, with the labels that each got.

#498 Fixes #24425 - Templates for modularity actions
  job_templates/module_action_-_ansible_default.erb
  job_templates/module_action_-_ssh_default.erb
Labels: Remote execution

#497 Fixes #24557 - Allow using live images from Katello
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#492 Fixes #24151 - bond device fails with vlanid for nil:NilClass
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#476 Add minimal IPv6 support to preseed
  provisioning_templates/snippet/preseed_networking_setup.erb
Labels: Needs re-review, Needs testing, Provisioning

#490 Removed blacklist block for pxe_kernel_options
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#491 Refs #19389 - Use medium_provider framework
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/alterator_default_pxelinux.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/PXELinux/kickstart_ovirt_pxelinux.erb
  provisioning_templates/iPXE/autoyast_default_ipxe.erb
  provisioning_templates/iPXE/preseed_default_ipxe.erb
  provisioning_templates/provision/atomic_kickstart_default.erb
  provisioning_templates/provision/kickstart_ovirt.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#502 Remove bashism in function definition
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution

#500 Add support for RHEL8
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#504 Added missing newlines
  provisioning_templates/PXELinux/autoyast_default_pxelinux.erb
  provisioning_templates/PXELinux/rancheros_pxelinux.erb
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning
