Repository theforeman/community-templates, pull requests merged in 2018-06, with the labels that each got.

#478 Adding snippet to blacklist kernel modules
  provisioning_templates/finish/kickstart_default_finish.erb
  provisioning_templates/finish/preseed_default_finish.erb
  provisioning_templates/provision/autoyast_default.erb
  provisioning_templates/provision/autoyast_sles_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/blacklist_kernel_modules.erb
  provisioning_templates/user_data/autoyast_default_user_data.erb
  provisioning_templates/user_data/kickstart_default_user_data.erb
  provisioning_templates/user_data/preseed_default_user_data.erb
Labels: Needs testing, Provisioning

#481 Allow snippet remote_execution_ssh_keys to handle strings
  provisioning_templates/snippet/remote_execution_ssh_keys.erb
Labels: Needs testing, Provisioning, Waiting on contributor

#474 Add params for katello-host-tools
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Provisioning

#482 Refs #23861 pxegrub2_chainload support for OpenSuSE and SLES
  provisioning_templates/snippet/pxegrub2_chainload.erb
  provisioning_templates/snippet/pxegrub_chainload.erb
Labels: Needs testing, Provisioning

#484 Fixes #23934 - @host.param leftovers
  provisioning_templates/provision/kickstart_ovirt.erb
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#483 Improved menu titles for PXELinux
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/PXELinux/pxelinux_default_local_boot.erb
  provisioning_templates/PXELinux/pxelinux_global_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#480 Refs #21717 - Added support for enable and disable
  job_templates/service_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#486 Fixes #24026 - Make grub2 working with RHEL6
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#485 Update pykickstart to the latest version
  .gitignore
  .travis.yml
  provisioning_templates/provision/kickstart_default.erb
  test/autoyast/provision_test.rb
  test/kickstart/provision_test.rb
  test/preseed/provision_test.rb
  test/test_helper.rb
Labels: Needs testing, Provisioning

#487 Fixes #24084 - root pass algo is downcase now
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning
