Repository theforeman/community-templates, pull requests merged in 2018-09, with the labels that each got.

#506 Fix Oracle Linux 7.5 provisioning
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#471 Translate ssh package actions for debian
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#513 Add iPXE support templates
  provisioning_templates/iPXE/ipxe_default_local_boot.erb
  provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#475 Refs #23210 - Provision PuppetCA-Token on Host
  provisioning_templates/snippet/csr_attributes.yaml.erb
  provisioning_templates/snippet/puppet_setup.erb
Labels: Provisioning, Ready to merge

#515 Fixes #24753 - Fix bonds and vlans deployment
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  provisioning_templates/snippet/kickstart_networking_setup.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#516 Fixes #24981 - set x bit on ansible callback
  provisioning_templates/snippet/ansible_provisioning_callback.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#518 Correcting Typo in Module Actions SSH
  job_templates/module_action_-_ssh_default.erb
Labels: Needs testing, Remote execution
