Repository theforeman/community-templates, pull requests merged in 2018-11, with the labels that each got.

#534 Update RHEL next conditions
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#533 Fixes #25185 - determine device dynamically
  provisioning_templates/snippet/pxegrub2_chainload.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#448 Extracted built command into snippet
  provisioning_templates/finish/alterator_default_finish.erb
  provisioning_templates/finish/preseed_default_finish.erb
  provisioning_templates/finish/xenserver_default_finish.erb
  provisioning_templates/provision/atomic_kickstart_default.erb
  provisioning_templates/provision/autoyast_default.erb
  provisioning_templates/provision/autoyast_sles_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/built.erb
  provisioning_templates/user_data/autoyast_default_user_data.erb
  provisioning_templates/user_data/kickstart_default_user_data.erb
  provisioning_templates/user_data/preseed_default_user_data.erb
Labels: Needs testing, Provisioning

#531 refs #25285 - support multiple repos in Kickstart
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/preseed_default.erb
  test/test_helper.rb
Labels: Needs testing, Provisioning

#536 refs #25285 - add proxy settings to additional_media
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#539 Fixes #25486 - remove empty line from header
  report_templates/host_statuses_csv.erb
Labels: Needs testing

#538 Fixes #25484 - white space preventing the seed
  report_templates/applicable_errata.erb
Labels: Needs testing, Not yet reviewed
