Repository theforeman/community-templates, pull requests merged in 2018-04, with the labels that each got.

#467 Put Ansible Power & Puppet jobs into separate categories
  job_templates/power_action_-_ansible_default.erb
  job_templates/puppet_run_once_-_ansible_default.erb
Labels: Needs testing, Remote execution

#468 Ansible packages - Only run pre/post script when present
  job_templates/package_action_-_ansible_default.erb
Labels: Needs testing, Remote execution

#466 Add Katello support for RHVH/oVirt Node provisioning
  provisioning_templates/provision/kickstart_ovirt.erb
Labels: Needs core merge, Needs testing, Provisioning

#469 Fixes ansible package action
  job_templates/package_action_-_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution

#472 Support multiline scripts
  job_templates/run_command_-_ansible_default.erb
Labels: Needs testing, Remote execution

#459 Katello REX features through Ansible
  job_templates/install_errata_-_katello_ansible_default.erb
  job_templates/install_group_-_katello_ansible_default.erb
  job_templates/install_package_-_katello_ansible_default.erb
  job_templates/remove_group_-_katello_ansible_default.erb
  job_templates/remove_package_-_katello_ansible_default.erb
  job_templates/restart_services_-_katello_ansible_default.erb
  job_templates/update_group_-_katello_ansible_default.erb
  job_templates/update_package_-_katello_ansible_default.erb
Labels: Needs testing, Remote execution

#464 Fixes #15634 - RancherOS support
  partition_tables_templates/empty.erb
  provisioning_templates/PXELinux/rancheros_pxelinux.erb
  provisioning_templates/provision/rancheros_provision.erb
  provisioning_templates/snippet/rancheros_cloudconfig.erb
Labels: Needs testing, Provisioning

#442 fixes #21694 - Add MTU support for kickstart installations
  provisioning_templates/provision/atomic_kickstart_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  test/test_helper.rb
Labels: Provisioning, Waiting on contributor

#473 Align Ansible "Services" category wording
  job_templates/service_action_-_ansible_default.erb
Labels: Needs testing, Remote execution

#477 Set hostname (again) within preseed
  provisioning_templates/finish/preseed_default_finish.erb
Labels: Needs testing, Provisioning

#455 Refs 1186915 - adding support for liveimg
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning
