Repository theforeman/community-templates, pull requests merged in 2019-03, with the labels that each got.

#560 Add FIPS support
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/fips_packages.erb
  provisioning_templates/snippet/puppet.conf.erb
Labels: Needs testing, Provisioning

#558 Fixes #26033 - Do not eager load polymorphic owner
  report_templates/registered_hosts.erb
Labels: Needs testing

#555 Support for non-EFI Grub2
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning

#552 Fixes #25462 - Display debug msg before roles
  job_templates/ansible_roles_-_ansible_default.erb
Labels: Needs testing, Remote execution, Waiting on contributor

#549 Handle zypper info result codes
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#556 Preseed python if ansible provisioning configured
  provisioning_templates/provision/preseed_default.erb
  test/test_helper.rb
Labels: Needs testing, Provisioning

#501 Add custom-snippet parameter
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/PXELinux/preseed_default_pxelinux.erb
  provisioning_templates/finish/preseed_default_finish.erb
  provisioning_templates/provision/kickstart_default.erb
  test/test_helper.rb
Labels: Needs testing, Provisioning

#546 Attempt to load discovery in local template
  provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
  provisioning_templates/snippet/pxegrub2_chainload.erb
  provisioning_templates/snippet/pxegrub2_mac.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#563 Refs #26127 - added 'nokaslr' kernel option
  provisioning_templates/iPXE/ipxe_global_default.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
  provisioning_templates/snippet/pxegrub_discovery.erb
  provisioning_templates/snippet/pxelinux_discovery.erb
Labels: Needs testing, Provisioning, Waiting on contributor

#566 Fixes #26467 - support free text host filter
  report_templates/registered_hosts.erb
Labels: Needs testing

#567 autoyast_default: add conditional for leap 15 ntp client config
  provisioning_templates/provision/autoyast_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning
