Repository theforeman/community-templates, pull requests merged in 2019-10, with the labels that each got.

#630 Add space after --enable of subscription_manager_repos
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Provisioning

#614 Updated README with template render trick
  README.md
Labels: Needs testing, Not yet reviewed

#626 Do not rush opening iPXE menu
  provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#507 Fixes #22742 - Add link delay option to kickstart
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#633 fix realm-join when using provisioning w/cloud-init
  provisioning_templates/snippet/fix_hosts.erb
Labels: Needs testing, Provisioning

#634 fix minitest deprecations
  test/kickstart/provision_test.rb
  test/preseed/provision_test.rb
Labels: Needs testing, Not yet reviewed

#589 Fix selection of PXELinux menu based on default_pxe_item_global setting
  provisioning_templates/PXELinux/pxelinux_default_local_boot.erb
  provisioning_templates/PXELinux/pxelinux_global_default.erb
  provisioning_templates/snippet/pxelinux_chainload.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#635 Fixes #28020 - Ansible Inventory report template
  report_templates/ansible_inventory.erb
Labels: Needs testing, Not yet reviewed

#636 Fixes simplified grub2 MAC loading
  provisioning_templates/snippet/pxegrub2_mac.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#638 Added support for grub2 over HTTP Boot
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#637 Fixes #28023 - fix rancheros PXE template
  provisioning_templates/PXELinux/rancheros_pxelinux.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#642 Refs #2802 - fixes the whitespaces
  report_templates/ansible_inventory.erb
Labels: Needs testing

#631 Fixes #27996 - Add template for entitlements report
  report_templates/entitlements.erb
Labels: Needs testing

#644 Update to Grub2 HTTP UEFI global template
  provisioning_templates/snippet/pxegrub2_discovery.erb
  provisioning_templates/snippet/pxegrub2_mac.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#645 Refs #22742 - use nic_delay.present? instead of nic_delay?
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Provisioning

#648 Refs #27180 - VLAN tagged network device added back
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#646 Cloud-init default formatting fixed
  provisioning_templates/cloud_init/cloud_init_default.erb
Labels: Needs testing, Provisioning

#649 Refs #27180 - VLAN tagged network device added back (CP)
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#650 Cloud-init default formatting fixed (CP)
  provisioning_templates/cloud_init/cloud_init_default.erb
Labels: Needs testing, Provisioning

#647 Generic Windows Templates
  partition_tables_templates/windows_default.erb
  provisioning_templates/PXELinux/windows_default_pxelinux.erb
  provisioning_templates/finish/windows_default_finish.erb
  provisioning_templates/iPXE/windows_default_ipxe.erb
  provisioning_templates/provision/windows_default_provisioning.erb
  provisioning_templates/script/windows_default_script.erb
  provisioning_templates/snippet/windows_networking_snippet.erb
Labels: Needs testing, Provisioning

#651 Fixes #28150 - os.medium_uri leftover removed
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/script/windows_default_script.erb
Labels: Needs testing, Provisioning, Waiting on contributor
