Repository theforeman/community-templates, pull requests merged in 2019-06, with the labels that each got.

#593 Refs #27007 - Fix passing command to shell module
  job_templates/run_command_-_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution, Waiting on contributor

#590 Fixes #27109 - support el8 in freeipa register
  provisioning_templates/snippet/freeipa_register.erb
Labels: Needs testing, Provisioning

#583 Default roles install into /etc/ansible/roles
  job_templates/ansible_roles_-_install_from_galaxy.erb
Labels: Needs testing, Not yet reviewed, Remote execution
