Repository theforeman/community-templates, pull requests merged in 2019-01, with the labels that each got.

#542 Refs #25624 - improve performance for registered hosts
  report_templates/registered_hosts.erb
Labels: Needs testing

#489 Add more puppet job templates
  job_templates/puppet_agent_disable_-_ssh_default.erb
  job_templates/puppet_agent_enable_-_ssh_default.erb
  job_templates/puppet_install_modules_from_forge_-_ssh_default.erb
  job_templates/puppet_install_modules_from_git_-_ssh_default.erb
Labels: Needs testing, Remote execution

#547 Refs #23569 - split usage from metadata
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#548 Refs #25894 - rename host statuses report
  report_templates/host_statuses.erb
Labels: Needs testing, Not yet reviewed

#461 Refs #21007 - new failed call for kickstarts
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/built.erb
  test/test_helper.rb
Labels: Needs testing, Not yet reviewed, Provisioning
