Repository theforeman/community-templates, pull requests merged in 2019-11, with the labels that each got.

#655 Fixes #28156 - properly specify requirements
  report_templates/ansible_inventory.erb
Labels: Needs testing

#652 Fixes #28157 - Update Ansible Inventory to have host id/params
  report_templates/ansible_inventory.erb
Labels: Needs testing

#656 Fixes #28156 - properly specify requirements
  report_templates/ansible_inventory.erb
Labels: Needs testing, Not yet reviewed

#661 Make ntp/chrony an exclusive package
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#665 Change variable used to populate ksdevice parameter
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Provisioning

#667 Use Github Actions to label based on paths
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Needs testing
