Repository theforeman/community-templates, pull requests merged in 2019-07, with the labels that each got.

#598 Fixes #27297 - ensure puppet is running for image provisioning
  provisioning_templates/snippet/puppet_setup.erb
Labels: Needs testing, Provisioning

#599 Fixes #27317 - Fix the host params key
  job_templates/ansible_roles_-_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution, Waiting on contributor

#571 Fix preseed_default_ipxe with DHCP and no subnet implies DHCP for all Preseed templates
  provisioning_templates/finish/preseed_default_finish.erb
  provisioning_templates/iPXE/preseed_default_ipxe.erb
  provisioning_templates/provision/preseed_default.erb
  provisioning_templates/snippet/preseed_networking_setup.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#596 Adds redhat register snippet to cloud init template
  provisioning_templates/cloud_init/cloud_init_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning
