Repository theforeman/community-templates, pull requests merged in 2019-04, with the labels that each got.

#551 Refs #25974 - add applied errata report
  report_templates/applied_errata.erb
Labels: Needs testing, Waiting on contributor

#577 Fixes #26587 - improve performance of registered hosts report
  report_templates/registered_hosts.erb
Labels: Needs testing

#573 Update report template inputs metadata
  report_templates/applicable_errata.erb
  report_templates/host_statuses.erb
  report_templates/registered_hosts.erb
Labels: Needs testing

#574 Adding hostname parameter
  provisioning_templates/snippet/coreos_cloudconfig.erb
Labels: Needs testing, Provisioning

#557 Improved iPXE EFI discovery workflow and netboot
  provisioning_templates/finish/preseed_default_finish.erb
  provisioning_templates/iPXE/ipxe_global_default.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/provision/atomic_kickstart_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/kickstart_ovirt.erb
  provisioning_templates/snippet/efibootmgr_netboot.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#578 refs #24871 - ipxe intermediate template
  provisioning_templates/iPXE/ipxe_intermediate_script.erb
Labels: Needs testing, Provisioning

#579 Refs #24871 - fixed typo in intermediate script
  provisioning_templates/iPXE/ipxe_intermediate_script.erb
Labels: Needs testing, Provisioning

#580 Discovery template nesting fixed
  provisioning_templates/snippet/pxegrub2_chainload.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning

#581 Removed snippet in snippet
  provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
  provisioning_templates/snippet/pxegrub2_chainload.erb
Labels: Needs testing, Provisioning

#582 re-insert empty lines in ipxe intermediate template
  provisioning_templates/iPXE/ipxe_intermediate_script.erb
Labels: Needs testing, Provisioning

#584 Apply preseed grub-installer/bootdev in partition template
  partition_tables_templates/preseed_default.erb
  partition_tables_templates/preseed_default_lvm.erb
  provisioning_templates/provision/preseed_default.erb
Labels: Needs testing, Provisioning
