Repository theforeman/community-templates, pull requests merged in 2019-12, with the labels that each got.

#653 Update kickstart_default.erb
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#669 Revert "Refs #28380 - Use Github Actions for path based labels"
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Needs testing, Not yet reviewed

#660 fixes# 28168 - added registered users template
  report_templates/registered_users.erb
Labels: Ready to merge

#662 Remove fedora-everything repo definition
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#659 Remove ignoreschedules from puppet.conf
  provisioning_templates/snippet/puppet.conf.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#621 Added kickstart custom
  partition_tables_templates/kickstart_custom.erb
Labels: Needs testing, Provisioning
