Repository theforeman/community-templates, pull requests merged in 2019-05, with the labels that each got.

#585 Fixes #26715 Append static arg back to provision URL
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#587 Fixes #26749 - Use consolidated ip Option
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#588 Prevent package actions from asking questions
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#562 Use subnet.dns_servers
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/finish/junos_default_finish.erb
  provisioning_templates/provision/alterator_default.erb
  provisioning_templates/provision/atomic_kickstart_default.erb
  provisioning_templates/provision/autoyast_default.erb
  provisioning_templates/provision/autoyast_sles_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/kickstart_ovirt.erb
  provisioning_templates/provision/preseed_default.erb
  provisioning_templates/provision/xenserver_default_answerfile.erb
  provisioning_templates/snippet/coreos_cloudconfig.erb
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  provisioning_templates/snippet/preseed_networking_setup.erb
  provisioning_templates/snippet/rancheros_cloudconfig.erb
Labels: Needs re-review, Needs testing, Provisioning
