Repository theforeman/community-templates, pull requests merged in 2020-06, with the labels that each got.

#741 Fixes #30013 - Allow passing http proxy to cloud connector
  job_templates/configure_cloud_connector_-_ansible_default.erb
Labels: Needs testing, Remote execution, Waiting on contributor

#738 Fixes #29952 - make Grub2 template bootdisk-efi compatible
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning

#743 Fixes #29952 - prevent when mac is present (#738)
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#744 Fixes #30039 - fix macro typo
  report_templates/host_-_registered_content_hosts.erb
Labels: Needs testing

#748 Update kickstart_default_user_data.erb
  provisioning_templates/user_data/kickstart_default_user_data.erb
Labels: Needs testing, Provisioning

#749 Fix minion config
  provisioning_templates/snippet/saltstack_setup.erb
Labels: Needs testing, Provisioning

#747 Fix installation of salt minion
  provisioning_templates/provision/autoyast_default.erb
  provisioning_templates/provision/autoyast_sles_default.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/preseed_default.erb
  provisioning_templates/snippet/saltstack_setup.erb
Labels: Needs testing, Provisioning
