Repository theforeman/community-templates, pull requests merged in 2020-03, with the labels that each got.

#685 Fixes #28883 - Initial IPv6 support for kickstart
  Rakefile
  provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  provisioning_templates/snippet/kickstart_kernel_options.erb
  provisioning_templates/snippet/kickstart_networking_setup.erb
  provisioning_templates/snippet/pxegrub2_chainload.erb
  test/autoyast/provision_test.rb
  test/kickstart/provision_test.rb
  test/preseed/provision_test.rb
  test/test_helper.rb
Labels: Needs testing, Provisioning

#680 Fixes #28784 - Updating nomenclature of each file
  report_templates/ansible_inventory.erb
  report_templates/applicable_errata.erb
  report_templates/applied_errata.erb
  report_templates/entitlements.erb
  report_templates/host_statuses.erb
  report_templates/registered_hosts.erb
  report_templates/registered_users.erb
  report_templates/subscriptions.erb
Labels: Needs testing

#679 Fixes #28782 - complete compare ch report template
  report_templates/host_compare_content_hosts_packages.erb
Labels: Needs testing

#698 Add job template with playbook as input
  job_templates/run_playbook-ansible_default.erb
Labels: Needs testing, Remote execution

#695 Fixes #29225 - global iPXE httpboot URL fixed
  provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Needs testing, Provisioning

#699 Fixes #29261 - Apply roles dynamically
  job_templates/ansible_roles_-_ansible_default.erb
Labels: Needs testing, Remote execution, Waiting on contributor

#697 Add job template for deploying receptor
  job_templates/connect_red_hat_receptor_controller_-_ansible_default.erb
Labels: Needs testing, Remote execution

#700 Fixes #29260 - Add -y flag for yum command
  job_templates/install_errata_-_katello_ansible_default.erb
  job_templates/install_group_-_katello_ansible_default.erb
  job_templates/remove_group_-_katello_ansible_default.erb
  job_templates/update_group_-_katello_ansible_default.erb
  job_templates/update_package_-_katello_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution, Waiting on contributor

#677 Add Windows GPT EFI partition table
  partition_tables_templates/windows_default_gpt_efi.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#701 improved formatting
  provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Provisioning

#702 Adding LICENSE file to project
  LICENSE
Labels: Needs testing

#704 Use correct role name for deploying receptor
  job_templates/connect_red_hat_receptor_controller_-_ansible_default.erb
Labels: Needs testing, Remote execution

#684 Fixes #28797 - Add consumed into entitlements report
  report_templates/entitlements.erb
Labels: Needs testing

#707 Rename receptor template
  job_templates/configure_cloud_connector_-_ansible_default.erb
Labels: Needs testing, Remote execution

#693 Fixes #28627 - update entitlements report due to added macro
  report_templates/entitlements.erb
  report_templates/registered_hosts.erb
Labels: Needs testing

#681 Fixes #28786 - new columns on subscription report
  report_templates/subscriptions.erb
Labels: Needs testing

#710 Use python3 on ubuntu 20.04 and later
  provisioning_templates/provision/preseed_default.erb
Labels: Needs testing, Provisioning

#706 Use pxe loader helper
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
Labels: Needs testing, Provisioning

#713 Hide inputs from job when configuring receptor
  job_templates/configure_cloud_connector_-_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Remote execution

#696 Fixes #29239 - unify discovery grub2 menu items
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#714 Refs #29239 - unify discovery grub2 menu items
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning
