Repository theforeman/community-templates, pull requests merged in 2020-05, with the labels that each got.

#727 Pin ordered-set and install wheel for tests
  .travis.yml
Labels: Needs testing

#725 Get CentOS8 kickstart to work out-of-box
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#716 Fixes #29469 - Add Capsule upgrade playbook template
  job_templates/capsule_upgrade_-_ansible_default.erb
Labels: Needs testing, Remote execution

#709 Refs #29355 - report CVE identifiers
  report_templates/host_-_applicable_errata.erb
Labels: Needs testing, Waiting on contributor

#724 Refresh subscription-manager before package installation
  job_templates/package_action_-_ssh_default.erb
Labels: Needs testing, Remote execution

#570 Static flag URL corrected
  provisioning_templates/iPXE/ipxe_intermediate_script.erb
  provisioning_templates/provision/preseed_default.erb
Labels: Needs testing, Provisioning

#730 Deprecated foreman_url without arguments
  provisioning_templates/provision/junos_default_slax.erb
Labels: Needs testing, Provisioning

#729 Add /opt/puppetlabs/bin to PATH on debian
  job_templates/puppet_agent_disable_-_ssh_default.erb
  job_templates/puppet_agent_enable_-_ssh_default.erb
  job_templates/puppet_install_modules_from_forge_-_ssh_default.erb
  job_templates/puppet_run_once_-_ansible_default.erb
  job_templates/puppet_run_once_-_ssh_default.erb
Labels: Needs testing, Remote execution

#733 Static flag URL corrected - fix eth index
  provisioning_templates/iPXE/ipxe_intermediate_script.erb
Labels: Needs testing, Provisioning

#732 correcting post logpath
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#731 Add a feature to capsule upgrade template
  job_templates/capsule_upgrade_-_ansible_default.erb
Labels: Needs testing, Remote execution

#736 Fixes #29921 - Corrected elsif vlanid order
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning
