Repository theforeman/community-templates, pull requests merged in 2020-02, with the labels that each got.

#687 Fixes #28896 Add template name to kickstart provision templates
  provisioning_templates/provision/kickstart_default.erb
  provisioning_templates/provision/kickstart_ovirt.erb
Labels: Needs testing, Provisioning

#690 Fixes #29031 - resolved boot loop for Grub2
  provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
Labels: Needs testing, Not yet reviewed, Provisioning

#668 Add Enable Web Console ansible play
  job_templates/service_action_-_enable_web_console.erb
Labels: Needs testing, Remote execution

#692 Fix use of $mac variable in PXEGrub2 discovery
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning

#675 Fixes #28637 - set minimal headers for empty reports
  report_templates/ansible_inventory.erb
  report_templates/applicable_errata.erb
  report_templates/applied_errata.erb
  report_templates/entitlements.erb
  report_templates/host_statuses.erb
  report_templates/registered_hosts.erb
  report_templates/subscriptions.erb
Labels: Needs testing

#694 Fixes #29191 - Use medium_uri.to_s in Kickstart default iPXE
  provisioning_templates/iPXE/kickstart_default_ipxe.erb
Labels: Needs testing, Provisioning
