Repository theforeman/community-templates, pull requests merged in 2020-04, with the labels that each got.

#715 Refs #29464 - hide the password value in CCC playbook
  job_templates/configure_cloud_connector_-_ansible_default.erb
Labels: Needs testing, Remote execution

#703 Added comments about HTTP Boot workaround
  provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  provisioning_templates/snippet/pxegrub2_discovery.erb
Labels: Needs testing, Provisioning

#592 Ansible power action should use shell module
  job_templates/power_action_-_ansible_default.erb
Labels: Needs testing, Remote execution

#718 Eject bootdisk before host built notification
  provisioning_templates/provision/autoyast_default.erb
  provisioning_templates/provision/autoyast_sles_default.erb
  provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Provisioning

#712 Refs #28784 - correct report filenames
  report_templates/ansible_-_ansible_inventory.erb
  report_templates/host_-_applicable_errata.erb
  report_templates/host_-_applied_errata.erb
  report_templates/host_-_compare_content_hosts_packages.erb
  report_templates/host_-_registered_content_hosts.erb
  report_templates/host_-_statuses.erb
  report_templates/subscription-_-entitlement_report.erb
  report_templates/subscription_-_general_report.erb
  report_templates/user_-_registered_users.erb
Labels: Needs testing, Not yet reviewed

#705 Refs #29037 - Update report template for Entitlements Expiring Soon
  report_templates/subscription_-_entitlement_report.erb
Labels: Needs testing

#719 Fixes #29591 - Replaced the double bracket testing to builtin test
  provisioning_templates/snippet/efibootmgr_netboot.erb
Labels: Needs testing, Provisioning

#721 Remove wrongly named report
  report_templates/subscription-_-entitlement_report.erb
Labels: Needs testing
